@charset "ISO-8859-1";


.panel{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #9F9F9F;  
        border-radius: 15px ;  
          
}  

#fname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  

label{  
    color: #08ffd1;  
    font-size: 17px;  
}  

#btn{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;
    font-weight: 600;    
}  
